<!-- START SOUND CODE V4.1b HTML5 -->
<script type="text/javascript">

// PLAYER VARIABLES

var mp3snd = "https://iyansanjaya.com/song/Simple%20Plan%20%20Welcome%20to%20my%20Life%20%20Cover%20by%20Bely%20Basarte.mp3";
var oggsnd = "https://iyansanjaya.com/song/Simple%20Plan%20%20Welcome%20to%20my%20Life%20%20Cover%20by%20Bely%20Basarte.ogg";

document.write('<audio autoplay="autoplay">');
document.write('<source src="'+mp3snd+'" type="audio/mpeg">');
document.write('<source src="'+oggsnd+'" type="audio/ogg">');
document.write('<!--[if lt IE 9]>');
document.write('<bgsound src="'+mp3snd+'" loop="1">');
document.write('<![endif]-->');
document.write('</audio>');

</script>
<br>
<!-- END SOUND CODE V4.1b -->