<!-- MODAL -->
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<!-- END MODAL -->

<!-- Floating Button -->
    <div class="at-floating-navigation">
      <button class="at-floating-navigation__button" type="button"><i class="fa-solid fa-atom"></i></button>
      <nav class="at-floating-navigation__menu">
        <header class="at-floating-navigation__user">
          <div class="at-floating-navigation__thumbnail">
            <img alt="Andy Tran" src="/iyan.png?size=400" />
          </div>
          <div class="at-floating-navigation__content">
            <h2 class="at-floating-navigation__title">Iyan Sanjaya</h2>
            <p class="at-floating-navigation__description">
              Contact Me.
            </p>
          </div>
        </header>
        <a class="at-floating-navigation__item" href="mailto:mail@iyansanjaya.com" target="_blank">Email</a>
        <a class="at-floating-navigation__item" href="https://poronesia.com" target="_blank">Poronesia</a>
        <a class="at-floating-navigation__item" href="https://instagram.com/iyannsanjaya" target="_blank">Instagram</a>
        <a class="at-floating-navigation__item" href="https://id.linkedin.com/in/iyansanjaya" target="_blank">LinkedIn</a>
        <a class="at-floating-navigation__item" href="https://twitter.com/iyannsanjaya" target="_blank">Twitter</a>
        <a class="at-floating-navigation__item" href="https://steamcommunity.com/id/iyansanjaya" target="_blank">Steam</a>
        <a class="at-floating-navigation__item" href="https://rarible.com/insamaru" target="_blank">Rarible</a>
      </nav>
    </div>
<!-- Floating Button End -->

<!-- Floating Button -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script>
    jQuery('.at-floating-navigation__button').on('click', function (e) {
      e.preventDefault();

      jQuery(this).parent().toggleClass('at-floating-navigation--active');
    });
  </script>
<!-- Floating Button End -->